In [239]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [240]:
import numpy as np
import pandas as pd
import sklearn
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score
from sklearn import metrics
from sklearn.metrics import recall_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.metrics import r2_score
import warnings
warnings.filterwarnings('ignore')

In [295]:
# Data Source = "https://www.kaggle.com/datasets/saivamshi/cricket-world-cup-2019-players-data"

batsman=pd.read_csv('/content/drive/MyDrive/Internship/Batsman_Data.csv')
bowler=pd.read_csv('/content/drive/MyDrive/Internship/Bowler_data.csv')
ground=pd.read_csv('/content/drive/MyDrive/Internship/Ground_Averages.csv')
odi_result=pd.read_csv('/content/drive/MyDrive/Internship/ODI_Match_Results.csv')
odi_totals=pd.read_csv('/content/drive/MyDrive/Internship/ODI_Match_Totals.csv')
wc=pd.read_csv('/content/drive/MyDrive/Internship/WC_players.csv')

In [242]:
data = [batsman, bowler, ground, odi_result, odi_totals, wc]

# Define the file names corresponding to each DataFrame

file_paths = [
    '/content/drive/MyDrive/Internship/Batsman_Data.csv',
    '/content/drive/MyDrive/Internship/Bowler_data.csv',
    '/content/drive/MyDrive/Internship/Ground_Averages.csv',
    '/content/drive/MyDrive/Internship/ODI_Match_Results.csv',
    '/content/drive/MyDrive/Internship/ODI_Match_Totals.csv',
    '/content/drive/MyDrive/Internship/WC_players.csv'
]

for k, file_path in zip(data, file_paths):
    file_name = os.path.basename(file_path)
    print(f"File Name: {file_name}")

    # Print head
    print("\nFile_Content:")
    print(k.head(2))

    # Print info
    print("\nInfo:")
    print(k.info())

    # Print Shape
    print("\nShape:")
    print(k.shape)

    # Print Null
    print("\nNull_Values:")
    print(k.isnull().sum())

    # Print Duplicates
    print("\nTotal_Duplicates:")
    print(k.duplicated().sum())

    print("=" * 70)  # Separating line for clarity

File Name: Batsman_Data.csv

File_Content:
   Unnamed: 0 Bat1 Runs BF SR 4s 6s Opposition   Ground   Start Date  \
0           1  DNB    -  -  -  -  -    v India   Nagpur  18 Dec 2009
1           2  DNB    -  -  -  -  -    v India  Kolkata  24 Dec 2009

     Match_ID        Batsman  Player_ID
0  ODI # 2933  Oshane Thomas      49619
1  ODI # 2935  Oshane Thomas      49619

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11149 entries, 0 to 11148
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11149 non-null  int64
 1   Bat1        11149 non-null  object
 2   Runs        11149 non-null  object
 3   BF          11149 non-null  object
 4   SR          11149 non-null  object
 5   4s          11149 non-null  object
 6   6s          11149 non-null  object
 7   Opposition  11149 non-null  object
 8   Ground      11149 non-null  object
 9   Start Date  11149 non-null  object
 10  Match_ID    11149 non-null  object
 11  Batsman     11149 non-null  object
 12  Player_ID   11149 non-null  int64
dtypes: int64(2), object(11)
memory usage: 1.1+ MB
None

Shape:
(11149, 13)

Null_Values:
Unnamed: 0    0
Bat1          0
Runs          0
BF            0
SR            0
4s            0
6s            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Batsman       0
Player_ID     0
dtype: int64

Total_Duplicates:
0
======================================================================
File Name: Bowler_data.csv

File_Content:
   Unnamed: 0 Overs Mdns Runs Wkts  Econ    Ave    SR Opposition   Ground  \
0           1   8.0    0   57    0  7.12      -     -    v India   Nagpur
1           2  10.0    0   55    2  5.50  27.50  30.0    v India  Kolkata

    Start Date    Match_ID          Bowler  Player_ID
0  18 Dec 2009  ODI # 2933  Suranga Lakmal      49619
1  24 Dec 2009  ODI # 2935  Suranga Lakmal      49619

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11118 entries, 0 to 11117
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11118 non-null  int64
 1   Overs       11118 non-null  object
 2   Mdns        11118 non-null  object
 3   Runs        11118 non-null  object
 4   Wkts        11118 non-null  object
 5   Econ        11118 non-null  object
 6   Ave         11118 non-null  object
 7   SR          11118 non-null  object
 8   Opposition  11118 non-null  object
 9   Ground      11118 non-null  object
 10  Start Date  11118 non-null  object
 11  Match_ID    11118 non-null  object
 12  Bowler      11118 non-null  object
 13  Player_ID   11118 non-null  int64
dtypes: int64(2), object(12)
memory usage: 1.2+ MB
None

Shape:
(11118, 14)

Null_Values:
Unnamed: 0    0
Overs         0
Mdns          0
Runs          0
Wkts          0
Econ          0
Ave           0
SR            0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Bowler        0
Player_ID     0
dtype: int64

Total_Duplicates:
0
======================================================================
File Name: Ground_Averages.csv

File_Content:
                            Ground       Span  Mat  Won  Tied  NR  Runs  Wkts  \
0    Eden Gardens, Kolkata - India  2013-2017    4    4     0   0  2161    72
1  Feroz Shah Kotla, Delhi - India  2013-2019    4    4     0   0  1789    75

   Balls    Ave   RPO
0   2297  30.01  5.64
1   2331  23.85  4.60

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ground  106 non-null    object
 1   Span    106 non-null    object
 2   Mat     106 non-null    int64
 3   Won     106 non-null    int64
 4   Tied    106 non-null    int64
 5   NR      106 non-null    int64
 6   Runs    106 non-null    int64
 7   Wkts    106 non-null    int64
 8   Balls   106 non-null    int64
 9   Ave     106 non-null    float64
 10  RPO     106 non-null    float64
dtypes: float64(2), int64(7), object(2)
memory usage: 9.2+ KB
None

Shape:
(106, 11)

Null_Values:
Ground    0
Span      0
Mat       0
Won       0
Tied      0
NR        0
Runs      0
Wkts      0
Balls     0
Ave       0
RPO       0
dtype: int64

Total_Duplicates:
0
======================================================================
File Name: ODI_Match_Results.csv

File_Content:
   Unnamed: 0 Result   Margin  BR  Toss  Bat  Opposition   Ground  Start Date  \
0         418    won  85 runs NaN  lost  1st     v India  Kolkata  3 Jan 2013
1         692   lost  85 runs NaN   won  2nd  v Pakistan  Kolkata  3 Jan 2013

     Match_ID   Country  Country_ID
0  ODI # 3315  Pakistan           7
1  ODI # 3315     India           6

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1322 non-null   int64
 1   Result      1322 non-null   object
 2   Margin      1322 non-null   object
 3   BR          606 non-null    float64
 4   Toss        1322 non-null   object
 5   Bat         1322 non-null   object
 6   Opposition  1322 non-null   object
 7   Ground      1322 non-null   object
 8   Start Date  1322 non-null   object
 9   Match_ID    1322 non-null   object
 10  Country     1322 non-null   object
 11  Country_ID  1322 non-null   int64
dtypes: float64(1), int64(2), object(9)
memory usage: 124.1+ KB
None

Shape:
(1322, 12)

Null_Values:
Unnamed: 0      0
Result          0
Margin          0
BR            716
Toss            0
Bat             0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

Total_Duplicates:
0
======================================================================
File Name: ODI_Match_Totals.csv

File_Content:
   Unnamed: 0 Score  Overs   RPO  Target  Inns Result  Opposition   Ground  \
0         412   250   48.3  5.15     NaN     1    won     v India  Kolkata
1         680   165   48.0  3.43   251.0     2   lost  v Pakistan  Kolkata

   Start Date    Match_ID   Country  Country_ID
0  3 Jan 2013  ODI # 3315  Pakistan           7
1  3 Jan 2013  ODI # 3315     India           6

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296 entries, 0 to 1295
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1296 non-null   int64
 1   Score       1296 non-null   object
 2   Overs       1296 non-null   float64
 3   RPO         1296 non-null   object
 4   Target      620 non-null    float64
 5   Inns        1296 non-null   int64
 6   Result      1296 non-null   object
 7   Opposition  1296 non-null   object
 8   Ground      1296 non-null   object
 9   Start Date  1296 non-null   object
 10  Match_ID    1296 non-null   object
 11  Country     1296 non-null   object
 12  Country_ID  1296 non-null   int64
dtypes: float64(2), int64(3), object(8)
memory usage: 131.8+ KB
None

Shape:
(1296, 13)

Null_Values:
Unnamed: 0      0
Score           0
Overs           0
RPO             0
Target        676
Inns            0
Result          0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

Total_Duplicates:
0
======================================================================
File Name: WC_players.csv

File_Content:
              Player      ID      Country
0  Gulbadin Naib (c)  352048  Afghanistan
1   Rashid Khan (vc)  793463  Afghanistan

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Player   152 non-null    object
 1   ID       152 non-null    int64
 2   Country  152 non-null    object
dtypes: int64(1), object(2)
memory usage: 3.7+ KB
None

Shape:
(152, 3)

Null_Values:
Player     0
ID         0
Country    0
dtype: int64

Total_Duplicates:
0
======================================================================

In [243]:
# Treating null vales

odi_totals.isnull().sum()

Unnamed: 0      0
Score           0
Overs           0
RPO             0
Target        676
Inns            0
Result          0
Opposition      0
Ground          0
Start Date      0
Match_ID        0
Country         0
Country_ID      0
dtype: int64

In [244]:
median_values = odi_totals.median()
odi_totals.fillna(median_values, inplace=True)

In [245]:
odi_totals.isnull().sum()

Unnamed: 0    0
Score         0
Overs         0
RPO           0
Target        0
Inns          0
Result        0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Country       0
Country_ID    0
dtype: int64

In [246]:
median_values = odi_result.median()
odi_result.fillna(median_values, inplace=True)

In [247]:
odi_result.isnull().sum()

Unnamed: 0    0
Result        0
Margin        0
BR            0
Toss          0
Bat           0
Opposition    0
Ground        0
Start Date    0
Match_ID      0
Country       0
Country_ID    0
dtype: int64

In [248]:
# batsman
# bowler
# ground
# odi_result
# odi_totals
# wc

# # column_names = df.columns

# # Printing the column names
# #print(column_names)

In [249]:
df1 = pd.merge(batsman, bowler, on=['Match_ID', 'Player_ID', 'Start Date', 'Opposition', 'Ground'],how='left')

In [250]:
df1.head(2)

,Unnamed: 0_x,Bat1,Runs_x,BF,SR_x,4s,6s,Opposition,Ground,Start Date,...,Player_ID,Unnamed: 0_y,Overs,Mdns,Runs_y,Wkts,Econ,Ave,SR_y,Bowler
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,...,49619,1.0,8.0,0,57,0,7.12,-,-,Suranga Lakmal
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,...,49619,2.0,10.0,0,55,2,5.50,27.50,30.0,Suranga Lakmal

In [251]:
df1.shape

(11149, 22)

In [252]:
column_names = df1.columns
print(column_names)

Index(['Unnamed: 0_x', 'Bat1', 'Runs_x', 'BF', 'SR_x', '4s', '6s',
       'Opposition', 'Ground', 'Start Date', 'Match_ID', 'Batsman',
       'Player_ID', 'Unnamed: 0_y', 'Overs', 'Mdns', 'Runs_y', 'Wkts', 'Econ',
       'Ave', 'SR_y', 'Bowler'],
      dtype='object')

In [253]:
column_names = ground.columns
print(column_names)

Index(['Ground', 'Span', 'Mat', 'Won', 'Tied', 'NR', 'Runs', 'Wkts', 'Balls',
       'Ave', 'RPO'],
      dtype='object')

In [254]:
df2 = pd.merge(df1, ground, on=['Ground'],how='left')

In [255]:
df2.head(2)

,Unnamed: 0_x,Bat1,Runs_x,BF,SR_x,4s,6s,Opposition,Ground,Start Date,...,Span,Mat,Won,Tied,NR,Runs,Wkts_y,Balls,Ave_y,RPO
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [256]:
df2.shape

(11149, 32)

In [257]:
column_names = odi_result.columns
print(column_names)

Index(['Unnamed: 0', 'Result', 'Margin', 'BR', 'Toss', 'Bat', 'Opposition',
       'Ground', 'Start Date', 'Match_ID', 'Country', 'Country_ID'],
      dtype='object')

In [258]:
column_names = odi_totals.columns
print(column_names)

Index(['Unnamed: 0', 'Score', 'Overs', 'RPO', 'Target', 'Inns', 'Result',
       'Opposition', 'Ground', 'Start Date', 'Match_ID', 'Country',
       'Country_ID'],
      dtype='object')

In [274]:
df3_odi = pd.merge(odi_result, odi_totals, on=['Opposition', 'Ground', 'Start Date', 'Match_ID', 'Country', 'Country_ID'],how='left')

In [275]:
df3_odi.head(2)

,Unnamed: 0_x,Result_x,Margin,BR,Toss,Bat,Opposition,Ground,Start Date,Match_ID,Country,Country_ID,Unnamed: 0_y,Score,Overs,RPO,Target,Inns,Result_y
0,418,won,85 runs,30.5,lost,1st,v India,Kolkata,3 Jan 2013,ODI # 3315,Pakistan,7,412.0,250,48.3,5.15,258.0,1.0,won
1,692,lost,85 runs,30.5,won,2nd,v Pakistan,Kolkata,3 Jan 2013,ODI # 3315,India,6,680.0,165,48.0,3.43,251.0,2.0,lost

In [276]:
df3_odi.shape

(1322, 19)

In [277]:
column_names = df2.columns
print(column_names)

Index(['Unnamed: 0_x', 'Bat1', 'Runs_x', 'BF', 'SR_x', '4s', '6s',
       'Opposition', 'Ground', 'Start Date', 'Match_ID', 'Batsman',
       'Player_ID', 'Unnamed: 0_y', 'Overs', 'Mdns', 'Runs_y', 'Wkts_x',
       'Econ', 'Ave_x', 'SR_y', 'Bowler', 'Span', 'Mat', 'Won', 'Tied', 'NR',
       'Runs', 'Wkts_y', 'Balls', 'Ave_y', 'RPO'],
      dtype='object')

In [278]:
column_names = df3_odi.columns
print(column_names)

Index(['Unnamed: 0_x', 'Result_x', 'Margin', 'BR', 'Toss', 'Bat', 'Opposition',
       'Ground', 'Start Date', 'Match_ID', 'Country', 'Country_ID',
       'Unnamed: 0_y', 'Score', 'Overs', 'RPO', 'Target', 'Inns', 'Result_y'],
      dtype='object')

In [282]:
df4 = pd.merge(df2, df3_odi, on=['Ground', 'Start Date', 'Match_ID'],how='left')

In [283]:
df4.head(2)

,Unnamed: 0_x_x,Bat1,Runs_x,BF,SR_x,4s,6s,Opposition_x,Ground,Start Date,...,Opposition_y,Country,Country_ID,Unnamed: 0_y_y,Score,Overs_y,RPO_y,Target,Inns,Result_y
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
df4.shape

(17965, 48)

In [285]:
wc.rename(columns={'ID': 'Player_ID'}, inplace=True)

In [286]:
df = pd.merge(df4, wc, on=['Player_ID', 'Country'],how='left')

In [287]:
df.head(4)

,Unnamed: 0_x_x,Bat1,Runs_x,BF,SR_x,4s,6s,Opposition_x,Ground,Start Date,...,Country,Country_ID,Unnamed: 0_y_y,Score,Overs_y,RPO_y,Target,Inns,Result_y,Player
0,1,DNB,-,-,-,-,-,v India,Nagpur,18 Dec 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,DNB,-,-,-,-,-,v India,Kolkata,24 Dec 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,DNB,-,-,-,-,-,v India,Delhi,27 Dec 2009,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,DNB,-,-,-,-,-,v Bangladesh,Dhaka,4 Jan 2010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [288]:
column_names = df.columns
print(column_names)

Index(['Unnamed: 0_x_x', 'Bat1', 'Runs_x', 'BF', 'SR_x', '4s', '6s',
       'Opposition_x', 'Ground', 'Start Date', 'Match_ID', 'Batsman',
       'Player_ID', 'Unnamed: 0_y_x', 'Overs_x', 'Mdns', 'Runs_y', 'Wkts_x',
       'Econ', 'Ave_x', 'SR_y', 'Bowler', 'Span', 'Mat', 'Won', 'Tied', 'NR',
       'Runs', 'Wkts_y', 'Balls', 'Ave_y', 'RPO_x', 'Unnamed: 0_x_y',
       'Result_x', 'Margin', 'BR', 'Toss', 'Bat', 'Opposition_y', 'Country',
       'Country_ID', 'Unnamed: 0_y_y', 'Score', 'Overs_y', 'RPO_y', 'Target',
       'Inns', 'Result_y', 'Player'],
      dtype='object')

In [289]:
df.shape

(17965, 49)

In [291]:
columns_to_drop = [
    'Unnamed: 0_x_x', 'BF', 'SR_x', '4s', '6s', 'Unnamed: 0_y_x',
    'Mdns', 'Econ', 'Ave_x', 'SR_y', 'NR', 'Ave_y', 'RPO_x',
    'Unnamed: 0_x_y', 'BR', 'Unnamed: 0_y_y', 'RPO_y'
]

df = df.drop(columns=columns_to_drop)

In [292]:
column_names = df.columns
print(column_names)

Index(['Bat1', 'Runs_x', 'Opposition_x', 'Ground', 'Start Date', 'Match_ID',
       'Batsman', 'Player_ID', 'Overs_x', 'Runs_y', 'Wkts_x', 'Bowler', 'Span',
       'Mat', 'Won', 'Tied', 'Runs', 'Wkts_y', 'Balls', 'Result_x', 'Margin',
       'Toss', 'Bat', 'Opposition_y', 'Country', 'Country_ID', 'Score',
       'Overs_y', 'Target', 'Inns', 'Result_y', 'Player'],
      dtype='object')

In [293]:
df.shape

(17965, 32)

In [296]:
# Linear, Decision Trees and Random Forest